/* work sans font with google  */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

/* shyare style  */
.btn-primary {
  border: 0;
  border-radius: 8px;
  background: #FF900E;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 25px;
  cursor: pointer;

}

.banner-descrption {
  color: var(--Dark-03, #727272);
  line-height: 26px;
}

.our {
  color: var(--Dark-01, #131313);
  font-size: 45px;
  font-weight: 700;

}

/* shyare style ending */

* {
  font-family: 'Work Sans', sans-serif;

}

/* header style start  */

header {
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--Dark-01, #131313);
  text-align: center;
  font-size: 45px;
  font-weight: 700;

}

nav>ul {
  display: flex;
}

nav li {
  margin-right: 30px;
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: var(--Dark-02, #424242);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-transform: capitalize;
}

/* header banner style start  */
.banner-container {
  max-width: 800;
  margin: 0px auto;
  text-align: center;
}

.banner-title {
  color: var(--Dark-01, #131313);
  font-size: 64px;
  font-weight: 700;

}

.banner img {
  width: 100%;
  margin-top: 25px;
}

/* main section start  */
main {
  max-width: 1440px;
  margin: 0 auto;
}

.img-write-container {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.write-container {
  padding-left: 70px;
  padding-right: 70px;
}

.write-content-title {
  font-size: 45px;
}

.quick {
  color: var(--Dark-03, #727272);
  font-weight: 500;
}

.write-feat {
  color: #FF900E;
  font-weight: 700;

}

/* fact section start  */
.fact-container-main {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.fact-container-main .card {
  text-align: center;
  border-radius: 8px;
  border: 1px solid #FF900E;
  padding: 15px 10px;
}

.card-stats {
  color: var(--Dark-02, #424242);
  font-size: 45px;
  font-weight: 600;
  max-width: 5px;
  margin-bottom: 3px;
}

.card-title {
  color: var(--Dark-03, #727272);
  font-size: 20px;
  font-weight: 600;

}


/* responsive design part  */

/* mobile responsive  */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }

  nav,
  .img-write-container {
    flex-direction: column;
  }

  .img-container {
    grid-template-columns: 1fr;
  }

  .write-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* tablet responsive  */
@media screen and (min-width: 577px) and (max-width:960px) {

  nav,
  .img-write-container {
    flex-direction: column;
  }

  header {
    padding: 50px;
  }
}